Package: nl.jessevandervelden.swipyfolders
Name: SwipyFolders
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: The way iOS folders meant to be
Maintainer: Jesse van der Velden <mail@jessevandervelden.nl>
Author: Jesse van der Velden <mail@jessevandervelden.nl>
Section: Tweaks
