Package: nl.jessevandervelden.swipyfolders
Name: SwipyFolders
Depends: mobilesubstrate, preferenceloader, firmware (>= 8.0), com.rpetrich.rocketbootstrap (>= 1.0.5)
Version: 1.5.7
Icon: file:///Library/PreferenceBundles/SwipyFoldersPrefs.bundle/swipe@2x.png
Architecture: iphoneos-arm
Description: Gestures for your folders
Maintainer: Jesse van der Velden <mail@jessevandervelden.nl>
Author: Jesse van der Velden <mail@jessevandervelden.nl>
Section: Tweaks
Depiction: http://megacookie.github.io/depictions/nl.jessevandervelden.swipyfolders
