<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPEARANCE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SFSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>customFolderAppearance</string>
			<key>id</key>
			<string>customFolderAppearance</string>
			<key>label</key>
			<string>Enable custom Appearance</string>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/respring</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SFSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>customFolderEnableFolderPreview</string>
			<key>id</key>
			<string>customFolderEnableFolderPreview</string>
			<key>label</key>
			<string>Set first icon as Folder Preview</string>
			<key>sublabel</key>
			<string>Needs a respring</string>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
		</dict>

		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/respring</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SFSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>customFolderHideGreyFolderBackground</string>
			<key>id</key>
			<string>customFolderHideGreyFolderBackground</string>
			<key>label</key>
			<string>Hide grey Folder Background</string>
			<key>sublabel</key>
			<string>Needs a respring</string>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FUNCTIONALITY</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SFSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>customFolderFunctionallity</string>
			<key>id</key>
			<string>customFolderFunctionallity</string>
			<key>label</key>
			<string>Enable custom Functionallity</string>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFCustomFolderSettingsListItemsController</string>
			<key>key</key>
			<string>customFolderSingleTapMethod</string>
			<key>id</key>
			<string>customFolderSingleTapMethod</string>
			<key>label</key>
			<string>Single Tap</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Open last opened app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>0</integer>
			</array>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFCustomFolderSettingsListItemsController</string>
			<key>key</key>
			<string>customFolderSwipeUpMethod</string>
			<key>id</key>
			<string>customFolderSwipeUpMethod</string>
			<key>label</key>
			<string>Swipe Up</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Open last opened app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>0</integer>
			</array>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFCustomFolderSettingsListItemsController</string>
			<key>key</key>
			<string>customFolderSwipeDownMethod</string>
			<key>id</key>
			<string>customFolderSwipeDownMethod</string>
			<key>label</key>
			<string>Swipe Down</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Open last opened app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>0</integer>
			</array>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFCustomFolderSettingsListItemsController</string>
			<key>key</key>
			<string>customFolderDoubleTapMethod</string>
			<key>id</key>
			<string>customFolderDoubleTapMethod</string>
			<key>label</key>
			<string>Double Tap</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Open last opened app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>0</integer>
			</array>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFCustomFolderSettingsListItemsController</string>
			<key>key</key>
			<string>customFolderShortHoldMethod</string>
			<key>id</key>
			<string>customFolderShortHoldMethod</string>
			<key>label</key>
			<string>Short hold</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Open last opened app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>0</integer>
			</array>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>4</string>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFCustomFolderSettingsListItemsController</string>
			<key>key</key>
			<string>customFolderForceTouchMethod</string>
			<key>id</key>
			<string>customFolderForceTouchMethod</string>
			<key>label</key>
			<string>3D Touch</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Open last opened app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>0</integer>
			</array>
			<key>set</key>
			<string>setValuePreference:forSpecifier:</string>
			<key>staticTextMessage</key>
			<string>If you are facing issues with Appendix, try Manila instead</string>
		</dict>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Coming soon: MegaCookie/libFolders</string>
		</dict>
	</array>

</dict>
</plist>
