<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<string>133</string>
			<key>icon</key>
			<string>banner.png</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SFSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPEARANCE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/respring</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SFSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>enableFolderPreview</string>
			<key>label</key>
			<string>Set first icon as Folder Preview</string>
			<key>sublabel</key>
			<string>Needs a respring</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/respring</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SFSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>hideGreyFolderBackground</string>
			<key>label</key>
			<string>Hide grey Folder Background</string>
			<key>sublabel</key>
			<string>Needs a respring</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SFSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>closeFolderOnOpen</string>
			<key>label</key>
			<string>Close folder automatically</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/respring</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SFSwitchTableCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>longHoldInvokesEditMode</string>
			<key>label</key>
			<string>Long hold invokes editing mode</string>
			<key>sublabel</key>
			<string>Needs a respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FUNCTIONALITY</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFListItemsController</string>
			<key>key</key>
			<string>singleTapMethod</string>
			<key>id</key>
			<string>singleTapMethod</string>
			<key>label</key>
			<string>Single Tap</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFListItemsController</string>
			<key>key</key>
			<string>swipeUpMethod</string>
			<key>id</key>
			<string>swipeUpMethod</string>
			<key>label</key>
			<string>Swipe Up</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFListItemsController</string>
			<key>key</key>
			<string>swipeDownMethod</string>
			<key>id</key>
			<string>swipeDownMethod</string>
			<key>label</key>
			<string>Swipe Down</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFListItemsController</string>
			<key>key</key>
			<string>doubleTapMethod</string>
			<key>id</key>
			<string>doubleTapMethod</string>
			<key>label</key>
			<string>Double Tap</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFListItemsController</string>
			<key>key</key>
			<string>shortHoldMethod</string>
			<key>id</key>
			<string>shortHoldMethod</string>
			<key>label</key>
			<string>Short hold</string>
			<key>validTitles</key>
			<array>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Quick action on first app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Nothing</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFListItemsController</string>
			<key>key</key>
			<string>forceTouchMethod</string>
			<key>id</key>
			<string>forceTouchMethod</string>
			<key>label</key>
			<string>3D Touch</string>
			<key>validTitles</key>
			<array>
				<string>Quick action on first app</string>
				<string>Open folder</string>
				<string>Open first app</string>
				<string>Open second app</string>
				<string>Custom: open x'th app</string>
				<string>Open last app</string>
				<string>Nothing - (Appendix/ Manila)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>4</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>0</integer>
			</array>
			<key>staticTextMessage</key>
			<string>If you are facing issues with Appendix, try Manila instead</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SET TIMEOUTS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Double Tap Time</string>
			<key>id</key>
			<string>doubleTapTimeText</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>SFSliderTableCell</string>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>key</key>
			<string>doubleTapTime</string>
			<key>id</key>
			<string>doubleTapTime</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>1</real>
			<key>default</key>
			<real>0.2</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>18</integer>
			<key>showValue</key>
			<false/>
			<key>leftImage</key>
			<string>time.png</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOM FOLDER SETTINGS</string>
		</dict>

		<dict>
		 	<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SFFoldersController</string>
			<key>label</key>
			<string>Set per Folder settings</string>
			<key>id</key>
			<string>customFolderSettings</string>

		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NESTED FOLDERS</string>
		</dict>

		<dict>
			<key>PostNotification</key>
			<string>nl.jessevandervelden.swipyfoldersprefs/prefsChanged</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>nl.jessevandervelden.swipyfoldersprefs</string>
			<key>detail</key>
			<string>SFListItemsController</string>
			<key>key</key>
			<string>nestedFolderBehaviour</string>
			<key>id</key>
			<string>nestedFolderBehaviour</string>
			<key>label</key>
			<string>Nested folder Behaviour</string>
			<key>validTitles</key>
			<array>
				<string>Off</string>
				<string>First app in first folder</string>
				<string>First app in a secondary folder</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>staticTextMessage</key>
			<string>Only use this when using nested folders as it is an EXPERIMENTAL feature(!) which can cause other issues.&#xA;
When it is set to the first app in the first folder, the folder preview will show and open up the first app in the first folder. &#xA;
Otherwise when you got another folder at the first place in the folder, it will show and open the first app of the secondary folder instead.&#xA;
This has influence on: The folder preview, Opening the first app &amp; 3D Touch.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CREDITS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@JesseVelden</string>
		</dict>
		<dict>
			<key>action</key>
			<string>contact</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>email.png</string>
			<key>label</key>
			<string>Email me</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Github.png</string>
			<key>label</key>
			<string>View Source on GitHub</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate &lt;3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2016 - Jesse van der Velden - Made in Holland</string>
		</dict>
	</array>
	<key>title</key>
	<string>SwipyFolders</string>
</dict>
</plist>
